{% extends 'base.html.twig' %}

{% block title %} Ajouter des categories {% endblock %}

{% block body %}

    <p> Nombre de film actuellement : {{ total }} </p>

    {% for categorie in categories %}
        <section class="liste">
            <article>
                <h2> {{categorie.title}} </h2>
                <div class="content">
                    {{ categorie.description | raw }}
                </div>
            </article>
        </section>
    {% endfor %}

{% endblock %}
